.cloze-hint {
  font-size: 14px;
  line-height: 1.2;
  text-align: left;
  width: 104ch;
  margin: auto;
}
#editordiv .cloze-hint {
  position: fixed;
  right: 0;
  margin: 0;
  border: unset;
  border-radius: unset;
  font-size: 14px;
  max-height: 30%;
}
app-pre,
app-post {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  display: block;
  white-space: pre;
  background-color: #eee;
  text-indent: 0;
}
app-post {
  margin-top: -2em;
}
app-post::before {
  content: "// 请在这里补充代码";
  background-color: white;
  color: darkgreen;
  display: block;
  font-weight: bold;
}
